<div class="modal fade calculator_modal" id="calculator_modal" tabindex="-1" role="dialog" aria-labelledby="calculator_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="home_modal1">
          <div class="modal1_row">
            <div class="modal1_coll_left">
              <img src="/images/img-21.png" alt="img"/>
            </div>
            <div class="modal1_coll_right">
              <div class="modal1_table">
                <table border="0" cellspacing="0" cellpadding="0" align="center">
                  <tr>
                    <td class="modal1_table_content">
                      Item price:
                    </td>
                    <td class="modal1_table_price" id="calculated_item_price">
                      $ 85.00
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_content">
                      Quantity:
                    </td>
                    <td class="modal1_table_price" id="calculated_quantity">
                      2
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_content">
                      US Shipping cost:
                    </td>
                    <td class="modal1_table_price" id="calculated_us_shipping_cost">
                      $ 25.00
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_content">
                      International Shipping cost:
                    </td>
                    <td class="modal1_table_price" id="calculated_international_shipping">
                      $ 25.00
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_content">
                      Weight:
                    </td>
                    <td class="modal1_table_price" id="calculated_item_weight">
                      0.45 kg
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_content">
                      Customs & Taxes:
                    </td>
                    <td class="modal1_table_price" id="calculated_customs_and_taxes">
                      $ 15.00
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_content">
                      Beejeeb fees:
                    </td>
                    <td class="modal1_table_price" id="calculated_fees">
                      $ 3.00
                    </td>
                  </tr>
                  <tr>
                    <td class="modal1_table_devider" colspan="2">
                      <div></div>
                    </td>
                  </tr>
                  <tr class="modal1_table_footer">
                    <td class="modal1_table_content">
                      Total Price:
                    </td>
                    <td class="modal1_table_price" id="calculated_total_price">
                      $950 <span>(JOD 35.00)</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="home_modal1_close">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
