<section class="about_us">
  <div class="container">
    <div class="page_headding">
      <h1>ABOUT US</h1>
    </div>
    <div class="about_us_main">
      <div class="row">
        <div class="col-sm-8">
          <div class="about_area_left">
            <h4>WHO WE ARE</h4>
            <p>
            Bejeeb is your way to shop on Amazon and pay for your order with CASH!
            </p>
            <p>
            Unlike ever before, you will be able to surf Amazon through Bejeeb's integrated services and get
            immediately quoted for your orders with a total price that is all anclusive of transparent customes and
            shipping charges. It's convenient, easy and delivered right to your doorstep.
            </p>
            <p>
            You shouldn't be limited to what you can and cannot buy online. We understand that the
            overwhelming majority of users online today want to pay for their order with cash, and we let you
            do just that. With Bejeeb, There is no need for a payment card, bank account, or even bank transfer.
            </p>
            <p>
            Bejeeb's service is bassed on a secure cash payment network that enables customers to complete
            their purchases conveniently around their city-and it's absolutely 100% guaranteed to be safe, or
            your money back!
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="about_area_right">
            <div class="about_area_right"></div>
            <div class="about_area_right_item">
              <img src="/images/img-4.png" alt="img"/>
              <h4>BY ONLINE</h4>
            </div>
            <div class="about_area_right_item2">
              <img src="/images/img-5.png" alt="img"/>
              <h4>YOU CAN PAY CASH</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="about_area_down">
            <h4>THE WORLD IS YOUR SHOPPING CART, AND IT ALL STARTS WITH BEJEEB!</h4>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
