<section class="canibuy_area">
  <div class="container">
    <div class="page_headding">
      <h1>Can I buy it?</h1>
      <p>
      We aim to bring you the world, but due to some restrictions (international & shipping companies restrictions), the following items are off limits..
      </p>
    </div>
    <div class="row">

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/1.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                ANY RELATED ARMY EQUIPMENT OR CLOTHES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/2.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                FIREARMS GUNS, GUN PARTS AND HUNTING SHOTGUNS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/3.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                SHARP ITEMS SUCH AS KNIVES, SWORDS AND BLADES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/4.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                FIREWORKS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/5.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                ELECTRONIC CIGARETTES/ ACCESSORIES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/6.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                LOOSE LITHIUM BATTERIES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/7.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                WALKIE TALKIE.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/6.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                SELF-DEFENSE ITEMS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/9.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                TOY WEAPONS, PAINTBALL GUNS AND BB GUNS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/10.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                SPY CAMERAS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/11.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                GPS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/12.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                WATCHES WITH CAMERA OR SIMCARD.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/13.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                SPRAY.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/14.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                SECURITY CAMERA AND BABY MONITOR.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/15.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                FLYING TOYS/ EQUIPMENT (HELICOPTERS AND QUADRO HELICOPTERS).
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/16.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                INK.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/17.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                ANTIQUES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/18.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                ARTWORK PAINTINGS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/19.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                LOTTERY TICKETS AND GAMBLING DEVICES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/20.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                SEX TOYS AND PORNOGRAPHY MATERIALS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/21.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                FOOD AND FOOD SUPPLIES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/22.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                TOBACCO PRODUCTS, LIQUORS AND ALCOHOL PRODUCTS..
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/23.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                FERTILIZERS
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/24.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                PAINT AND VARNISH.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/25.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                NAIL POLISH AND NAIL POLISH REMOVER.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/26.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                PERFUMES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/27.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                HAIR SPRAYS AND SHAVING CREAM.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/28.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                COMPRESSED GASES, INCLUDING CO2 CARTRIDGES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/29.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                GLUES AND ADHESIVES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/30.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                DYES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/31.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                COUNTER CLEANER/ DRAIN/OVEN CLEANERS • ANTIFREEZE.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/32.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                ALCOHOL-BASED HAND SANITIZERS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/33.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                homeWATER/AQUARIUM TEST KITS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/34.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                MAGNET.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/35.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                LEAD ACID BATTERIES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/36.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                LIGHTERS.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/37.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                MEDICINES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/38.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                ULTRASOUND DEVICES.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a href="#">
          <div class="canibuy_item">
            <div class="canibuy_item_row">
              <div class="canibuy_item_coll1">
                <img src="/images/buy/39.png" alt="img"/>
              </div>
              <div class="canibuy_item_coll2">
                <p>
                LAMP.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
