<section class="faq_page_area">
  <div class="container">
    <div class="page_headding">
      <h1>FREQUENTLY ASKED QUESTIONS</h1>
    </div>
    <div class="faq_area_main">
      <div class="row">
        <div class="col-sm-12">
          <div class="faq_area_headding">
            <h4>GENERAL</h4>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="panel-group" id="bejeep_panel" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
              <div class="panel-heading" role="tab" id="headingTwo">

                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#bejeep_panel" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What is Bejeeb?
                  <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                  </a>
                </h4>

              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>
                  Begeeb is a service allows you to shop your favorite Items from Amazon.com directly , without the waiting for your order to get reviewed , Get your cost quotation instantly and pay in your preferred payment method, Whether you want to pay in Cash or using your Credit Card. 
                  </p>

                </div>
              </div>
            </div>
            <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}">
              <div class="panel-heading" role="tab" id="headingThree">

                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#bejeep_panel" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  How It works?
                  <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                  </a>
                </h4>

              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                  <p>
                  It is super easy to shop through Begeeb.com check out how it works page to see the instructions in details. 
                  .
                  </p>


                </div>
              </div>
            </div>
            <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
              <div class="panel-heading" role="tab" id="headingfour">

                <h4 class="panel-title">
                  <a class="" role="button" data-toggle="collapse" data-parent="#bejeep_panel" href="#collapsefour" aria-expanded="true" aria-controls="collapseThree">
                  How long does it takes to receive my packages?
                  <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                  </a>
                </h4>

              </div>
              <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                  <p>
                  We use expedited shipping but since is there is a usual checkups and reviews by the official customs authorities your packages could take between 8-12 days to arrive at your selected shipping address.
                  </p>


                </div>
              </div>
            </div>
            <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}">
              <div class="panel-heading" role="tab" id="headingfive">


                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#bejeep_panel" href="#collapsefive" aria-expanded="false" aria-controls="collapseTwo">
                  What is Begeeb Service fees?
                  <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                  </a>
                </h4>


              </div>
              <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                  <p>
                  We charge 3$ + 15% as a services fees. You will not charged any extra fees by any condition unless your packages requires a clearance fees. 
                  </p>


                </div>
              </div>
            </div>
            <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left border_none" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
              <div class="panel-heading" role="tab" id="headingsix">

                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#bejeep_panel" href="#collapsesix" aria-expanded="false" aria-controls="collapseThree">
                  What happens after I place my order?
                  <div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                  </a>
                </h4>

              </div>
              <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                  <p>
                  It depends on the payment method you have used. If you choose to pay using credit card your order will be confirmed and processed immediately. For cash collection payment your order will be confirmed and processed directly upon collecting the cash for both options after your order gets processed you will be able to track the location of your order step by step on my orders page. 

                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="faq_area_headding">
              <h4>PAYMENT</h4>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="panel-group" id="bejeep_payment_panel" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left" data-uk-scrollspy="{cls:'uk-animation-slide-left', repeat: false}">
                <div class="panel-heading" role="tab" id="headingseven">

                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#bejeep_payment_panel" href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
                    What Payment methods do you offer?											<div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                    </a>
                  </h4>

                </div>
                <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
                  <div class="panel-body">
                    <p>
                    We offer both  Cash Collection (Runner) and Credit Card Payments.

                    </p>


                  </div>
                </div>
              </div>
              <div class="panel panel-default uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right border_none" data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: false}">
                <div class="panel-heading" role="tab" id="headingeight">

                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#bejeep_payment_panel" href="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
                    How Cash Collection works?											<div class="wiwet-icon_possion"> <i class="fa fa-angle-down"></i> <i class="fa fa-angle-up"></i> </div>
                    </a>
                  </h4>

                </div>
                <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
                  <div class="panel-body">

                    <p>

After you submit your order you will select your preferred payment method. If your prefer not to pay using your credit card you still have an option to pay in Cash. Just select Cash collection method and during the next 24 hours a representative will contact you to collect the cash for your order from your door step , there is a small extra fees applicable on cash collection option. 

                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
