<section class="howitwork_area">
  <div class="container">
    <div class="page_headding">
      <h1>How It Works</h1>
    </div>
    <div class="howitwork_area_main">
      <div class="row">
        <div class="col-sm-12">
          <div class="howitwork_area_headding">
            <h4>It’s pretty easy to purchase items through Begeeb just follow those simple steps :</h4>
          </div>
          <div class="howitwork_area_item">
            <div class="howitwork_area_item1_pic">
              <img src="/images/img-18.png" alt="img"/>
            </div>
            <div class="howitwork_area_content">
              <div class="howitwork_area_item_count">
              1
              </div>
              <p>
              Go to Begeeb.com and in the search box simple search for the Item you are looking to purchase like you are exactly shopping from Amazon.com
              </p>
            </div>
          </div>
          <div class="howitwork_area_item">
            <div class="howitwork_area_item2_pic">
              <img src="/images/img-19.png" alt="img"/>
            </div>
            <div class="howitwork_area_content">
              <div class="howitwork_area_item_count">
              2
              </div>
              <p>
              Add all your items to the cart and click on Checkout, You will be redirected to a cost break down page which will show you exactly how much your order will cost you from the item price to the International shipping and all the costs.
              </p>
              <p>
              Now you need to fill up your shipping details , and select your preferred payment method.
              </p>
              <p>
              Cash Collection: <span>we will send you a runner to your place to collect the cash for the order , an extra fees applicable to this method.</span>
              </p>
              <p>
              Credit Card Payment: <span> you will securely be redirected to the payment page where you will fill up your credit card details and make the payment. </span>
              </p>
            </div>
          </div>
          <div class="howitwork_area_item">
            <div class="howitwork_area_item3_pic">
              <img src="/images/img-20.png" alt="img"/>
            </div>
            <div class="howitwork_area_content">
              <div class="howitwork_area_item_count">
              3
              </div>
              <p>
              Now you need to wait from 8-12 days to get your stuff delivered strictly to your door step.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
