<!--Hero Area Start -->

<section class="hero_area">
  <div class="hero_main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="hero_txt">
            <h1>Shop The World To Your Doorstep And Pay Cash In Jordan</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="hero_form_area" id="start_shopping">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="hero_form">
              <div class="hero_form_txt">
                <p>
                Send us the links of the products you want.
                <br/>
                Beejeeb will buy on your behalf and ship them to your home.
                </p>
              </div>
              <form>
                <div class="hero_form_controll">
                  <input type="text" id="url_to_fetch" placeholder="Paste item URL(e.g.https://www.amazon.com/gp/product/B072BQXQJ1)"/>
                  <button type="button" data-toggle="modal" data-product-fetcher="true" data-target="#product_modal">SHOP NOW</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>



<!--featured_area2 Start -->

<section class="featured_area2" id="how-it-works">
  <div class="featured_area2_main">
    <div class="container-fluid">
      <div class="page_headding">
        <h1>How it works</h1>
        <p>
        It’s always easy to shop from your favorite websites
        only withun three simple steps
        </p>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="featured2_item">
            <img src="images/img-1.png" alt="img"/>
            <h4 class="color_orange">Select Product</h4>
            <p>
            Copy paste the item you wants to buy, Wait 30 min for review. Checkout if you like the price,Otherwise just cancel the order.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="featured2_item">
            <img src="images/img-2.png" alt="img"/>
            <h4 class="featured2_blue">PAY</h4>
            <p>
            during the next 24 hours after you checkout. we will send a courier to collect the money for your order. or just pay using your credit card.
            </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="featured2_item">
            <img src="images/img-3.png" alt="img"/>
            <h4 class="featured2_green">Delivery</h4>
            <p>
            Hooray! After reveiving your package to our US warehouse it will be delivered to you within 3-5 Business days.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!--price calculator  Area Start -->

<section class="price_calculator_area" id="calculator">
  <div class="container">
    <div class="price_calculator_main">
      <div class="price_calculator_headding">
        <h1>Price Calculator</h1>
        <p>You can get an estimated cost of your order before you place it.</p>
      </div>
      <div class="price_calculator_content">
        <div class="row">
          <div class="col-sm-3">
            <div class="price_calculator_item">
              <p>Item Price</p>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" id="price" placeholder="0">
                  <label  class="input-group-addon" for="price">$</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="price_calculator_item">
              <p>US Shipping Cost</p>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" id="cost" placeholder="0">
                  <label  class="input-group-addon" for="cost">$</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="price_calculator_item">
              <p>Weight</p>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" id="weight" placeholder="0">
                  <label  class="input-group-addon" for="weight">kg</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="price_calculator_item">
              <p>Quantity</p>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" id="quantity" placeholder="0">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="price_calculator_btn">
              <button type="button" data-toggle="modal" data-target="#calculator_modal">Calculate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Start -->

<section class="home_product_area">
  <div class="container">
    <div class="home_product_headding">
      <h1>Shop millions of Products </h1>
      <p>from the Best Online Shops</p>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/5.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/6.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/7.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/8.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/9.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/10.png" alt="img"/>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/11.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/12.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/13.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/14.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/15.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/16.png" alt="img"/>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/17.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/18.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/19.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/20.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/21.png" alt="img"/>
          </a>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="product_item">
          <a href="#">
            <img src="images/brand/22.png" alt="img"/>
          </a>
        </div>
      </div>
    </div>
    <div class="home_product_footer">
      <p>
      <a href="#">And more thousands of trusted online shops</a>
      </p>
    </div>
  </div>
</section>

<%= render('shared/product_modal') %>
