<section class="terms_and_conditions_area">
  <div class="container">
    <div class="page_headding">
      <h1>terms and conditions</h1>
    </div>
    <div class="terms_area_main">
      <div class="row">
        <div class="col-sm-12">
          <div class="terms_and_conditions_content">
            <p>
            By using bejeeb.com website, you are agreeing to be bound by the following terms and conditions of use. Bejeeb reserves the right to change the Terms of Services from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, will be effective immediately upon being posted to the Website.We will notify you of any material changes to this Privacy Policy by conspicuously posting the changes on the Website. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service on this page at any time. Violation of any of the terms below will result in the termination of your account.

            </p>

            <h3>Cancellation</h3>

            <p>
            You can cancel your purchase order before payment. Once your purchase order is paid, cancellation fees may apply to your purchase orders fees and in some cases, your purchase order may not be canceled if your it has already been processed or shipped.
            </p>

          </div>
          <div class="terms_and_conditions_content">

            <h3>Account Registration & Terms</h3>

            <ul>
              <li>
                You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.
              </li>
              <li>
                One person or legal entity may not maintain more than one account.
              </li>
              <li>
                You are responsible for maintaining the security of your account and password. Articulate cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
              </li>
              <li>
                You may not use the Service for any illegal or unauthorized purpose.
              </li>
              <li>
                If we have reason to believe that any information provided is untrue or incomplete, we reserve the right to close your account or limit your account access until such discrepancy is corrected.
              </li>
              <li>
                We never use data, including email addresses, for any purpose other than to provide you with the Service as well as to send you opt-in email alerts and occasional informational emails relating to the Service.
              </li>
            </ul>

          </div>
          <div class="terms_and_conditions_content">
            <h3>Products Quality</h3>

            <p>
            Bejeeb is not responsible for any defects in the products you purchase unless those defects were a direct result of international shipping or handling. Lynks doesn't guarantee the quality or the suitability of the products you purchase. You're responsible for choosing the correct specifications of the products you purchase.

            <br/><br/>

            Bejeeb guarantees to deliver the items in the same condition stated by the seller.

            <br/><br/>

            We don't guarantee the quality of eBay items and items shipped from China.

            <br/><br/>

            The packaging might be un-sealed due to customs clearance inspection.

            <br/><br/>

            We guarantee to get you the size you applied during making your purchase, but we don't guarantee the fitting size.

            <br/><br/>

            Bejeeb does not guarantee the physical or technical condition of any used/refurbished items even if it did not match the seller's description. <br/> ( We only guarantee New condition items )

            </p>

          </div>
          <div class="terms_and_conditions_content">

            <h3>Purchasing</h3>

            <ul>
              <li>
                Your purchase order will be purchased within 1 business days from the day of payment, we are not responsible for any price difference or out of stock items that may happen in this period.
              </li>
              <li>
                You are responsible of filling in your purchase orders specifications accurately as written on the seller's listing such as your product's color, size or model to avoid any delays in the purchasing process or any wrongly received products.
              </li>
              <li>
                Purchasing quantity limitations may change according to authorities or customs regulations.
              </li>
              <li>
                You may not use the Service for any illegal or unauthorized purpose.
              </li>
              <li>
                The price you are notified with before payment confirmation can be changed, if it gets changed after you make your payment we will notify you by sending you an email.
              </li>
              <li>
                Bejeeb does not guarantee to deliver the gifts or samples your purchase might include on the seller's website.
              </li>
            </ul>

          </div>
          <div class="terms_and_conditions_content">

            <h3>Payment & Pricing</h3>

            <ul>
              <li>
                You must make payments using only payment methods owned by you. You may not make payments using accounts owned by others. We reserve the right to close your account or limit your account access until such discrepancy is corrected.
              </li>
              <li>
                We reserve the right to change prices for any service provided by us without advance notice.
                <br/>
                Your items cannot be purchased or shipped from U.S. locker until your payment is fully charged in both steps.
              </li>
              <li>
                Failure or delay in providing payment for services rendered at the time of service may result in disabling the process of purchasing and shipping.
              </li>
              <li>
                Shipping costs are based on the weight of your shipments. Shipping costs will be charged according to the actual weight of your items.
              </li>
              <li>
                Customs, VAT on customs and Clearance fees, are subject to change at anytime according to the Local Customs Authorities.
              </li>
              <li>
                All Facebook posts calculations and quotations sent through any of our communication channels are just estimates and are subject to price changes.
              </li>
            </ul>

          </div>
          <div class="terms_and_conditions_content">

            <h3>Shipping Cost Calculator</h3>

            <p>
            When you use Bejeeb Shipping Cost Calculator for an advance determination of the combined costs of Customs,Vat on customs, international shipping and clearance fees, the resulting cost is an estimate only, based on the information you provide. The actual cost may vary from the estimate due to several factors including but not limited to:
            </p>

            <ul>
              <li>
                Change in online store price of the product you selected.
              </li>
              <li>
                Change in currency exchange rates.
              </li>
              <li>
                Differences between the estimated and the actual package weights.
              </li>
              <li>
                Discrepancies between the estimated and actual product category.
              </li>
            </ul>

          </div>
          <div class="terms_and_conditions_content">

            <h3>Customs Clearance</h3>

            <p>
            You appoint Bejeeb to do customs clearance on your behalf, you agree to provide your national ID or passport in case that we need it in the customs clearance process. Your products might be un-sealed and opened due to customs inspection.
            </p>

          </div>

          <div class="terms_and_conditions_content">

            <h3>Loss or damage</h3>

            <p>
            Incase any items were lost or damaged, you are entitled to a full refund for the lost/damaged products.
            </p>

          </div>

          <div class="terms_and_conditions_content">

            <h3>Refunds</h3>

            <p>
            You are eligible for a refund if you shipment was delayed for more than 10 business days on the standard shipping period (10-14 business days).

            <br/><br/>

            You can request a refund of your positive balance at any time. Refunds will be issued only to the original method of payment. Promotional credits or vouchers have no cash value and cannot be refunded.

            <br/><br/>

            You are eligible for a refund if you shipment was delayed for more than 10 business days on the standard shipping period which is (10-14 business days).

            </p>

          </div>

          <div class="terms_and_conditions_content">

            <h3>Return Policy</h3>

            <p>
            At your request, we can return items to the seller within the United States. However, you are responsible for all shipping and restocking costs associated with your return shipment.

            <br/><br/>

            Some Items from eBay and Chinese Sellers are not eligible for return.

            </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
