<section class="checkout1_area">
  <div class="container">
    <div class="page_headding">
      <h1>CHECKOUT</h1>
      <p>Add More Items to your order</p>
    </div>
    <div class="checkout1_form">
      <form>
        <div class="hero_form_controll">
          <input type="text" placeholder="Paste item URL(e.g.https://www.amazon.com/gp/product/B072BQXQJ1)">
          <button type="submit">Shop my item</button>
        </div>
      </form>
    </div>

    <div class="checkout1_table">
      <table border="0" cellspacing="0" cellpadding="0" align="center">
        <tr class="checkout1_table_header">
          <td>
            Product Item
          </td>
          <td>
            Quantity
          </td>
          <td>
            Describe Your Item
          </td>
          <td>

          </td>
        </tr>
        <tr class="checkout1_table_content">
          <td class="checkout_item">
            <img src="images/img-12.png" alt="img"/> <span> Magnum Men's Response III 8 </span>
          </td>
          <td class="checkout1_table_quantity">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="quantity-left-minus btn btn-number"  data-type="minus" data-field="">
                  <img src="images/icons/left_arrow_o.png" alt="img"/>
                </button>
              </span>
              <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
              <span class="input-group-btn">
                <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">
                  <img src="images/icons/right_arrow_o.png" alt="img"/>
                </button>
              </span>
            </div>
          </td>
          <td class="checkout_description">
            no description
          </td>
          <td class="checkout_edit">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-times-circle"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-pencil"></i>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </div>


    <div class="checkout1_btn">
      <button type="button">send to review </button>
    </div>


  </div>
</section>

