<section class="confirmation_area">
  <div class="confirmation_area_main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="confirmation_item">
            <img src="/images/icons/like.png" alt="img"/>
            <h1>Thank You!</h1>
            <p>
            Your Order <%= link_to "NO. #{@order_number}", order_path(@order_id) %> has been placed and will be reviewed shortly!
            <br/><br/>
            A quote with the total price will be sent to your email address.
            </p>
            <button type="button" href="/">back to main page</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
